@import url("https://gitcdn.xyz/repo/voidfill/theme-update-test/main/powercord_updater-global-ver3.scss");

$file-ver: 1.0.0.00;

@if $file-ver == $global-ver {
    .containerDefault--pIXnN {
        background-color: aqua;
    }
}
