@import url("https://raw.githack.com/voidfill/theme-update-test/main/powercord_updater-global-ver2.css");

$file-ver: 1.0.0.00;

@if $file-ver == $global-ver {
    .containerDefault--pIXnN {
        background-color: aqua;
    }
}
